*{padding: 0;margin: 0;font-family: inherit;}
a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
/*header*/
.my-header>iframe,.my-header2>iframe,.my-footer>iframe{
    width: 100%;
    margin:auto;
}
.my-header2{
    float: left;
    width: 100%;
    display: none;
    margin: auto;

}
.my-header{
    height: 70px;
    margin: auto;
}
.my-header>iframe{
    height: 300px;
}
.my-footer{
    margin: auto;
}
/*1F*/
.ES8{
    width: 1349px;
    height: 614.77px;
    background:url(/images/index/Es8-d.jpg);
    background-size: cover;
    z-index: -1;
    margin: auto;
    text-align: center;
}
.testdrive-es8{
    display: inline-block;
    margin-top: 200px;
}
.testdrive-es8>a{ 
    display:inline-block;
    width:210px;
    height: 46px;
    border: 2px solid #fff;
    border-radius: 100px;
    line-height: 46px;
    text-align: center;
}
.testdrive-es8>a:last-child{
    margin-left:30px;
}
.testdrive-es8>a:hover{
    color:#000;
    background-color: #fff
}
/*2F*/
.ES6{
    width: 1349px;
    height: 695.75px;
    background: url(/images/index/ES6_1.jpg);
    background-size:cover; 
}
.ES6::before{
    content: "";
    display: block;
    height: 40px;
    background-color: #fff;
}
