*{padding: 0;margin: 0;font-family: inherit;letter-spacing: 1px;}
#header-color a{
    text-decoration: none;
    color:#000;
    font-weight: 800;
}
#header-color{
    background-color: rgb(255, 255, 255);
    height: 70px;    
    display: flex;
    align-items: center;
    font-weight: 800;
}
#header-color>div:first-child{
    width: 1823px;
    height: 40px;
    display: flex;
    margin: auto;
}
#header-color img{
    width: 13px;
    height: 13px;
}
#header-color>div:first-child>ul{
    width: 1500px;
    height: 40px;
    display: flex;
    margin-left: 40px;
}
#header-color>div:first-child>ul>li{
    width: 110px;
    height: 36px;
}
#header-color>div:first-child>ul>li>ul{
    position: relative;
}
#header-color li{
 list-style: none;
 text-align: center;
 line-height: 36px;
 font-size: 12px;
}
#header-color>div:first-child>div:last-child{
    display: flex;
    align-items: center;
}
#header-color>div:first-child>div:last-child>a{
    border:2px solid #000;
    border-radius: 20px;
    padding: 8px 40px ;
    font-size: 14px;
    font-weight: 800;
}
#header-color>div:first-child>div:last-child>a:hover{
    background-color: #000;
    color:#fff;
}
#header-color>div:first-child>ul>li>ul>li{
    width: 90px;
    height: 40px;
    margin: auto;
    background-color: #fff;
}
#header-color>div:first-child>ul>li>ul>li:last-child{
    border-radius: 0 0 12px 12px;
}
#header-color>div>ul>li>ul{
    display: none;
}

#header-color>div:first-child>ul>li:first-child>ul>li:first-child,#header-color>div:first-child>ul>li:first-child>ul>li:nth-child(5),#header-color>div:first-child>ul>li:nth-child(2)>ul>li:first-child,#header-color>div:first-child>ul>li:last-child>ul>li:first-child{
    color:#9b9b9b;
    border-top:1px solid #dcdcdc;
}
#header-color span{
    border-bottom:2px solid #fff;
}
#header-color span:hover{
    border-bottom:2px solid #13d4c8;
    transition: all 800 ms;
}
#header-color p{
    display: inline;
}
#header-color>div:first-child>ul>li:hover ul{
    display: block;
}


